.contenedor {
    padding: 2%;
    text-align: center;
}

.menu-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: 100%;
    border: 3px black solid;
}

.item-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18%;
    height: 200px;
    border: 1px white solid;
    margin: 2%;
    border-radius: 2%;
    background-color: rgb(31, 31, 31);
    color: white;
    cursor: pointer;
}

.item-menu img {
    width: 100px;
    /* Ancho del icono */
    height: 100px;
    /* Alto del icono */
    margin-bottom: 10px;
    /* Margen inferior del icono */
    filter: invert(100%);
}

.boton-retroceder {
    width: 95%;
    margin: 1%;
}

.cold {
    color: lightblue;
}

.hot {
    color: red;
}

.mapa {
    text-align: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    margin: 2% auto;
    border-radius: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }