.contenedor {
    padding: 2%;
    text-align: center;
}

.texto-blanco {
    color: "white";
}
.menu-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    max-width: 1200px;
    height: 100%;
    box-sizing: border-box;

    /* border: 3px black solid; */
}


.item-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 18%; */
    width: calc(22% - 20px);
    height: 220px;
    border: 1px white solid;
    margin: 2%;
    border-radius: 2%;
    background-color: rgb(31, 31, 31);
    color: white;
    cursor: pointer;
}

.item-menu img {
    width: 25%;
    /* Ancho del icono */
    height: 100px;
    /* Alto del icono */
    margin-bottom: 10px;
    /* Margen inferior del icono */
    filter: invert(100%);
}

.boton-retroceder {
    width: 95%;
    margin: 1%;
}

.cold {
    color: lightblue;
}

.hot {
    color: red;
}

.mapa {
    text-align: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    margin: 2% auto;
    border-radius: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 1100px) {
    .item-menu {
        width: calc(25% - 20px);
    }
}

@media (max-width: 900px) {
    .item-menu {
        width: calc(30% - 20px);
    }
}


@media (max-width: 768px) {
    .item-menu {
        width: calc(40% - 20px);
    }
}

@media (max-width: 576px) {
    .item-menu {
        width: calc(100% - 20px);
    }
}
